<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.homecoo.smarthome.persistence.DeviceStateRecordMapper" >
  <resultMap id="BaseResultMap" type="com.homecoo.smarthome.domain.DeviceStateRecord" >
    <id column="RECORD_ID" property="recordId" jdbcType="INTEGER" />
    <result column="DEVICE_NO" property="deviceNo" jdbcType="VARCHAR" />
    <result column="GATEWAY_NO" property="gatewayNo" jdbcType="VARCHAR" />
    <result column="DEVICE_STATE_CMD" property="deviceStateCmd" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_BY" property="lastUpdateBy" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECORD_ID, DEVICE_NO, GATEWAY_NO,DEVICE_STATE_CMD, LAST_UPDATE_TIME, LAST_UPDATE_BY
  </sql>
  <select id="selectByDeviceNoGatewayNo" resultMap="BaseResultMap" parameterType="com.homecoo.smarthome.domain.DeviceStateRecord" >
    select * from t_devicestaterecord
    where DEVICE_NO = #{deviceNo} and GATEWAY_NO=#{gatewayNo}
  </select>
  
   <select id="selectByDeviceNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_devicestaterecord
    where DEVICE_NO = #{deviceNo}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_devicestaterecord
    where RECORD_ID = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.homecoo.smarthome.domain.DeviceStateRecord" >
    insert into t_devicestaterecord (RECORD_ID, DEVICE_NO, GATEWAY_NO,DEVICE_STATE_CMD, 
      LAST_UPDATE_TIME, LAST_UPDATE_BY)
    values (#{recordId,jdbcType=INTEGER}, #{deviceNo,jdbcType=VARCHAR}, #{gatewayNo,jdbcType=VARCHAR}, #{deviceStateCmd,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.homecoo.smarthome.domain.DeviceStateRecord" >
    insert into t_devicestaterecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        RECORD_ID,
      </if>
      <if test="deviceNo != null" >
        DEVICE_NO,
      </if>
        <if test="gatewayNo != null" >
        GATEWAY_NO,
      </if>
      <if test="deviceStateCmd != null" >
        DEVICE_STATE_CMD,
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME,
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=VARCHAR},
      </if>
       <if test="deviceNo != null" >
        #{gatewayNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceStateCmd != null" >
        #{deviceStateCmd,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.homecoo.smarthome.domain.DeviceStateRecord" >
    update t_devicestaterecord
    <set >
      <if test="deviceNo != null" >
        DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null" >
        GATEWAY_NO = #{gatewayNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceStateCmd != null" >
        DEVICE_STATE_CMD = #{deviceStateCmd,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=INTEGER},
      </if>
    </set>
    where RECORD_ID = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.homecoo.smarthome.domain.DeviceStateRecord" >
    update t_devicestaterecord
    set DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
      GATEWAY_NO = #{gatewayNo,jdbcType=VARCHAR},
      DEVICE_STATE_CMD = #{deviceStateCmd,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=INTEGER}
    where RECORD_ID = #{recordId,jdbcType=INTEGER}
  </update>
</mapper>