<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.homecoo.smarthome.persistence.MusicMapper" >
	<resultMap type="com.homecoo.smarthome.domain.Music" id="BaseResultMap">
		<result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="UUID" property="uuid" jdbcType="VARCHAR" />
		<result column="GATEWAY_NO" property="gatewayNo" jdbcType="VARCHAR" />
		<result column="FAMILYNAME" property="familyName" jdbcType="VARCHAR" />
		<result column="SONGNAME" property="songName" jdbcType="VARCHAR" />
		<result column="SPACE" property="space" jdbcType="VARCHAR" />
		<result column="BZ" property="bz" jdbcType="VARCHAR" />
	</resultMap>

 	<insert id="addMusaic" parameterType="com.homecoo.smarthome.domain.Music" >
 		insert into t_music(UUID,GATEWAY_NO,FAMILYNAME,SONGNAME,SPACE,BZ)
 		values(#{uuid},#{gatewayNo},#{familyName},#{songName},#{space},#{bz})
 	</insert>
 	
	<select id="selectSingleMusic" parameterType="String" resultMap="BaseResultMap">
		select * from t_music where UUID=#{uuid}
	</select>
 	
 	<select id="selectAllMusic" resultMap="BaseResultMap" parameterType="String">
 		select * from t_music where GATEWAY_NO=#{gatewayNo}
 	</select>
 	
 	<delete id="deleteMusic" parameterType="String">
 		delete from t_music where GATEWAY_NO=#{gatewayNo}
 	</delete>
 	
</mapper>